aiohttp==3.8.3
bandit==1.7.4
black==23.1.0
fastapi==0.89.1
flake8==6.0.0
GeoAlchemy2==0.13.1
httpx==0.23.3
loguru==0.6.0
numpy==1.21.6
pendulum==2.1.2
pgeocode==0.4.0
psycopg2-binary==2.9.5
pydantic==1.10.4
pytest==7.2.1
pytest-env==0.8.1
python-dotenv==0.21.0
requests==2.25.1
SQLAlchemy==1.4.45
uvicorn==0.20.0
